.main {
  .main-row {
    .leaderboard {
      .teams {
        .title {
          font-weight: 700;
        }
        .body {
          .team-row {
            .team-name {
              font-weight: 400;
            }
            .team-points {
              font-weight: 500;
            }
            &:hover {
              background-color: floralwhite;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .main {
    .main-row {
      .leaderboard {
        .teams {
          .title {
            font-size: 2em;
          }
          .body {
            .team-row {
              .team-name, .team-points {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .main {
    .main-row {
      .leaderboard {
        .teams {
          .title {
            font-size: 3em;
          }
          .body {
            .team-row {
              .team-name, .team-points {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    .main-row {
      .leaderboard {
        border-left: 2px solid darkgray;
        .teams {
          .title {
            font-size: 2em;
          }
          .body {
            .team-row {
              .team-name, .team-points {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .main {
    .main-row {
      .leaderboard {
        .teams {
          .title {
            font-size: 2.5em;
          }
          .body {
            .team-row {
              .team-name, .team-points {
                font-size: 1.3em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    .main-row {
      .leaderboard {
        .teams {
          .title {
            font-size: 3em;
          }
          .body {
            .team-row {
              .team-name, .team-points {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}